In [1]:
name = 'Sam'

In [2]:
name[1:]

'am'

In [4]:
last_letters = name[1:]

In [5]:
last_letters

'am'

In [6]:
'p' + last_letters

'pam'

In [13]:
x = 'Hello World'

In [18]:
x = x + " It is beautiful outside!"

In [19]:
x

'Hello World It is beautiful outside! It is beautiful outside! It is beautiful outside!'

In [20]:
x = 'Hello World'

In [21]:
x.upper()

'HELLO WORLD'

In [22]:
x.lower()

'hello world'

In [23]:
x.split()

['Hello', 'World']

In [24]:
x = 'Hi this is a string'

In [25]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [27]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [30]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [32]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [33]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [34]:
result = 100/777

In [35]:
result

0.1287001287001287

In [37]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [38]:
name = "Jose"

In [39]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [40]:
name = 'Sam'
age = 3

In [43]:
print('{n} is {a} years old.'.format(n= name, a= age))

Sam is 3 years old.

In [44]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [46]:
print('{} {}!'.format('Python', 'rules'))

Python rules!

In [47]:
my_list = [1,2,3]

In [48]:
my_list = ['STRING',100,23.2]

In [50]:
len(my_list)

3

mylist = [

In [51]:
mylist = ['one','two','three']

In [52]:
mylist[0]

'one'

In [53]:
mylist[1:]

['two', 'three']

In [54]:
mylist

['one', 'two', 'three']

In [55]:
another_list = ['four','five']

In [57]:
new_list = mylist + another_list

In [58]:
new_list

['one', 'two', 'three', 'four', 'five']

In [59]:
new_list[0] = 'ONE ALL CAPS'

In [60]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [61]:
new_list.append('six')

In [62]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [63]:
new_list.append('seven')

In [64]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [65]:
new_list.pop()

'seven'

In [66]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [67]:
popped_item = new_list.pop()

In [68]:
popped_item

'six'

In [69]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [70]:
new_list.pop(0)

'ONE ALL CAPS'

In [71]:
new_list

['two', 'three', 'four', 'five']

In [72]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [74]:
new_list.sort()

In [75]:
new_list

['a', 'b', 'c', 'e', 'x']

In [77]:
my_sorted_list = new_list.sort()

In [78]:
my_sorted_list

In [79]:
new_list.sort()
my_sorted_list = new_list

In [80]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [81]:
num_list.sort()
my_sorted_list = num_list

In [82]:
my_sorted_list

[1, 3, 4, 8]

In [83]:
num_list.reverse()
my_reversed_list = num_list

In [84]:
my_reversed_list

[8, 4, 3, 1]

In [86]:
my_dict = {'key1':'value1','key2':'value2'}

In [87]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [88]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [94]:
prices_lookup['apple']

2.99

In [95]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}}

In [99]:
d['k2'][2]

2

In [98]:
d['k3']['insideKey']

100

In [100]:
d = {'key1': ['a', 'b', 'c']}

In [103]:
d['key1'][2].upper()

'C'

In [104]:
d = {'k1':100, 'k2':200, 'k3':300}

In [105]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [106]:
d['k4'] = 400

In [107]:
d

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}

In [108]:
d['k1'] = 'New Value'

In [109]:
d

{'k1': 'New Value', 'k2': 200, 'k3': 300, 'k4': 400}

In [110]:
d = {'k1':100, 'k2':200, 'k3':300}

In [111]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [112]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [113]:
d.values()

dict_values([100, 200, 300])

In [114]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [115]:
t = (1,2,3)

In [116]:
mylist = [1,2,3]

In [117]:
type(t)

tuple

In [118]:
len(t)

3

In [119]:
t[0]

1

In [120]:
t[-2]

2

In [121]:
len(t)

3

In [122]:
t = ('a', 'a', 'a', 'b')

In [123]:
t.count('a')

3

In [124]:
t.index('a')

0

In [125]:
t.index('b')

3

In [126]:
t

('a', 'a', 'a', 'b')

In [127]:
mylist

[1, 2, 3]

In [128]:
mylist[1] = 'NEW'

In [129]:
mylist

[1, 'NEW', 3]

In [130]:
s = set()

In [131]:
s

set()

In [132]:
s.add(1)

In [133]:
s

{1}

In [135]:
s.add(2)

In [136]:
s

{1, 2}

In [137]:
s.add(2)

In [138]:
s

{1, 2}

In [139]:
mylist = [1,2,3,4,5,1,2,3,4,5]

In [140]:
mylist

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [141]:
set(mylist)

{1, 2, 3, 4, 5}

In [142]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [144]:
1 > 2

False